<div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Epsum</h3>
                    <small>Posted by Andrew on January 22 2017</small>
                    <p>leo egestas, lacinia imperdiet mi. Aliquam volutpat leo sit amet magna pharetra finibus. Proin ac sapien vel enim tempus aliquet. Morbi tempus nisl vel metus suscipit porta. Suspendisse scelerisque blandit velit vitae iaculis. Donec ac suscipit lectus.</p>
                    <a class="btn btn-default btn-block">Read More</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Epsum</h3>
                    <small>Posted by Andrew on January 22 2017</small>
                    <p>leo egestas, lacinia imperdiet mi. Aliquam volutpat leo sit amet magna pharetra finibus. Proin ac sapien vel enim tempus aliquet. Morbi tempus nisl vel metus suscipit porta. Suspendisse scelerisque blandit velit vitae iaculis. Donec ac suscipit lectus.</p>
                    <a class="btn btn-default btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Epsum</h3>
                    <small>Posted by Andrew on January 22 2017</small>
                    <p>leo egestas, lacinia imperdiet mi. Aliquam volutpat leo sit amet magna pharetra finibus. Proin ac sapien vel enim tempus aliquet. Morbi tempus nisl vel metus suscipit porta. Suspendisse scelerisque blandit velit vitae iaculis. Donec ac suscipit lectus.</p>
                    <a class="btn btn-default btn-block">Read More</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Epsum</h3>
                    <small>Posted by Andrew on January 22 2017</small>
                    <p>leo egestas, lacinia imperdiet mi. Aliquam volutpat leo sit amet magna pharetra finibus. Proin ac sapien vel enim tempus aliquet. Morbi tempus nisl vel metus suscipit porta. Suspendisse scelerisque blandit velit vitae iaculis. Donec ac suscipit lectus.</p>
                    <a class="btn btn-default btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div>
